Projects/WCF/WCF_Car_Client/WCF_Car_Client/Service References/MyCarService/CarService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Cars.Fault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Cars.Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataBaseConnectionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataBaseConnectionFault" nillable="true" type="tns:DataBaseConnectionFault" />
  <xs:complexType name="IdNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdNotFoundFault" nillable="true" type="tns:IdNotFoundFault" />
  <xs:complexType name="NotLoggedInFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotLoggedInFault" nillable="true" type="tns:NotLoggedInFault" />
</xs:schema>