Projects/WCF/WCF_Cars/WCF_Cars_HOST/Service References/CarServiceReference/CarService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52003/CarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Cars" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Cars" minOccurs="0" name="GetAllCarResult" nillable="true" type="q1:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Cars" minOccurs="0" name="car" nillable="true" type="q2:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Cars" minOccurs="0" name="car" nillable="true" type="q3:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Cars" minOccurs="0" name="car" nillable="true" type="q4:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCarById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCarByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Cars" minOccurs="0" name="SearchCarByIdResult" nillable="true" type="q5:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>